@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<SalesTracker.Models.Inventory>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<h1>Add Things To Your Store Inventory</h1>
@*<form method="post" class="navbar-right new-inventory">
    <input type="text"  name="InventoryName" placeholder="Inventory Name"/>
    <input type="number"  name="InventoryTotal" placeholder="Number Of Items" />
    <input type="number" name="InventoryPrice" placeholder="Cost Of Item" />
    
    <button type="submit" class="btn btn-success">Add To Inventory</button>
</form>*@

<br />
<form class="new-inventory">
    <label for="InventoryName">inventory name</label>
    <input type="text" name="InventoryName" />

    <label for="InventoryPrice">inventory price</label>
    <input type="number" name="InventoryPrice" />

    <label for="InventoryTotal">inventory total</label>
    <input type="number" name="InventoryTotal" />

    <button type="submit" class="btn btn-success">Add To Inventory</button>

</form>

@foreach( var inventory in Model)
{
    <p>@Html.DisplayFor(m => inventory.InventoryName)</p>
    <li>@Html.DisplayFor(m => inventory.InventoryPrice)</li> 
    <p></p>
    
    <form  id="sell">
    <input type="number" name="inventoryId" value="@inventory.Id" />
    <button class='btn btn-danger' type='submit' action="sale">sell</button>
    </form>
  
    <li>@Html.DisplayFor(m => inventory.InventoryTotal)</li>
    <hr />



}

<script type="text/javascript">
    $(document).ready(function () { 
    $('.new-inventory').submit(function (event) {
        event.preventDefault();
        console.log("start");
        $.ajax({
            url: "Inventory/addItems",
            type: 'POST',
            dataType: 'json',
            data: $(this).serialize(),
            success: function (result) {
            console.log(result.InventoryName)
                }
           });
    });

    $('#sell').submit(function (event) {
        event.preventDefault();
        console.log("working start")
        $.ajax({
            type: 'GET',
            dataType: 'json',
            data: $(this).serialize(),
            url: "Inventory/SellItem",
            success: function (result) {
                console.log(result)
            }
        })
        console.log("end")
     })
   });
</script>